.posts {
  .single-post-image {
    max-width: 100%;
  }

  .custom-btn {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0;
  }

  .custom-box-shadow {
    box-shadow: 4px 3px 13px -2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 4px 3px 13px -2px rgba(0,0,0,0.15);
    -moz-box-shadow: 4px 3px 13px -2px rgba(0,0,0,0.15);
  }
}